@media (max-width: 768px) {
  .about-me-items {
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .about-me-item {
    width: 100%;
    position: static;
  }
}
