.privacy-container {
  max-width: 850px;
  margin: 60px auto;
  padding: 30px;
  background: rgba(189, 189, 189, 0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
}

.privacy-container h1,
.privacy-container h2 {
  color: #2c3e50;
}

.privacy-container h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.privacy-container h2 {
  font-size: 24px;
  margin-top: 30px;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 5px;
}

.privacy-container p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #363636;
}

.privacy-container ul {
  margin-left: 20px;
  padding-left: 15px;
}

.privacy-container li {
  margin-bottom: 10px;
  font-size: 18px;
}

.privacy-container a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.privacy-container a:hover {
  text-decoration: underline;
}

.privacy-contact-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 12px 20px;
  background: #92969a;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

.privacy-contact-link:hover {
  background: #0056b3;
}
